@font-face {
  font-family: "Mona Sans";
  src: url("../public/Mona-Sans.woff2") format("woff2 supports variations"),
    url("../public/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

.slick-prev:before,
.slick-next:before {
  color: white;
  font-size: 30px;
}

.slick-prev {
  left: 10px;
  color: aquamarine;
  z-index: 1;
}

.slick-next {
  right: 10px;
}

.slick-dots {
  color: white;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
